/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('image.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
  height: auto;
  margin: 100px auto;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #cec0c0;
  border-radius: 5px; 
}

.location-row {
  display: flex;
  gap: 20px; 
  margin-top: 10px;
}

.location-item {
  flex: 1;
}

.location-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.location-item select {
  width: 100%;
  padding: 8px;
  border: 1px solid #cec0c0;
  border-radius: 5px;
}


input[type="password"] {
  width: auto;
  padding: 8px;
  border: 1px solid #cec0c0;
  border-radius: 5px;
}

.gender {
  margin-top: 8px;
}

.gender label {
  margin-right: 10px;
  font-weight: normal;
}

input[type="submit"] {
  width: auto;
  background-color: #e18de9;
  color: white;
  border: 2px solid #4b4e4b;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: auto;
}

input[type="submit"]:hover {
  background-color: #b4bfd4;
  border-radius: auto;
} */





body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('image.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #cec0c0;
  border-radius: 5px;
}

input[type="password"] {
  width: auto;
  padding: 8px;
  border: 1px solid #cec0c0;
  border-radius: 5px;
}

.gender {
  margin-top: 8px;
}

.gender label {
  margin-right: 10px;
  font-weight: normal;
}

.location-row {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.location-item {
  flex: 1;
}

.location-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.location-item select {
  width: auto;
  padding: 8px;
  border: 1px solid #cec0c0;
  border-radius: 5px;
}

input[type="submit"] {
  width: auto;
  padding: 10px 20px;
  background-color: #f086d5;
  color: white;
  border: 2px solid #161816;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

input[type="submit"]:hover {
  background-color: #b4bfd4;
  border-radius: 30px;
}
